.main-block
{
width: 960px; 		
height:900px;   
}
.news-block1
{
float: left;
color: black; 
background-color: red;
width: 33%; 		
height: 100%; 		
  
}
.news-block2
{
float: left;
color: black; 
background-color: green;
width: 33%; 		
height: 100%; 		
 
}
.news-block3
{
float: left;
color: black; 
background-color: blue;
width: 33%; 		
height: 100%; 		
 
}
.clear {clear:both}
